.h5p-idea-board-button {
  background-color: var(--color-text-light);
  border: 2px solid var(--color-text-light); /* Same px value as used by Joubel in Interactive Book */
  border-radius: 3px; /* Same px value as used by Joubel in Interactive Book */
  color: var(--color-primary);
  flex-shrink: 0;
  font-size: 1em;
  height: var(--button-size);
  padding: 0;
  position: relative;
  width: var(--button-size);

  &::before {
    color: var(--color-disabled);
    font-family: "H5PFontAwesome4", sans-serif;
    font-size: var(--background-size);
    height: var(--background-size);
    left: 50%;
    margin-left: calc(-1 * var(--background-size) / 2);
    margin-top: calc(-1 * var(--background-size) / 2);
    position: absolute;
    top: 50%;
    width: var(--background-size);
  }

  &.display-none {
    display: none;
  }

  &.h5p-idea-board-button-left::before {
    content: var(--icon-fontawesome-chevron-left);
  }

  &.h5p-idea-board-button-right::before {
    content: var(--icon-fontawesome-chevron-right);
  }

  &.h5p-idea-board-button-fullscreen {
    margin-left: auto;

    &.exit-fullscreen {
      &::before {
        content: var(--icon-fontawesome-compress);
      }
    }

    &.enter-fullscreen {
      &::before {
        content: var(--icon-fontawesome-expand);
      }
    }
  }

  &:not(.disabled) {
    &::before {
      color: var(--color-primary);
    }

    &:hover {
      background-color: var(--color-primary-5);
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-primary-10);
    }

    &.active {
      background-color: var(--color-primary);
      opacity: 20;

      &:hover {
        background-color: var(--color-primary-90);
        cursor: pointer;
      }

      &:active {
        background-color: var(--color-primary-95);
      }
    }
  }
}
