.h5p-idea-board-navigation-bar {
  --button-size: 3em;
  --background-size: 1.25em;
  --border-size: 2px;

  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline: auto;
  max-width: var(--h5p-idea-board-exercise-main-max-width);
  overflow: hidden;
  padding: 0.25rem;

  .h5p-idea-board-navigation-bar-buttons-container-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
  .h5p-idea-board-navigation-bar-buttons-container-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-left: auto;
  }
}
