.h5p-idea-board-exercise-board-instance {
  &.h5p-idea-board .h5p-idea-board-main {
    margin: 0;

    .h5p-idea-board-toolbar-tool-bar {
      margin-bottom: 0;
    }
  }

  &.h5p-idea-board .h5p-idea-board-board.forced-size {
    height: 100%;
    margin: auto;
    width: 100%;
  }
}
