.h5p-idea-board-exercise-slideable-pages {
  --page-transition: left .35s;

  overflow: hidden;
}

.h5p-container.h5p-fullscreen {
  .h5p-idea-board-exercise-slideable-pages {
    height: 100%;
  }
}
