.h5p-idea-board-exercise-main {
  .h5p-idea-board-exercise-main-area {
    container-type: inline-size;
    container-name: h5p-idea-board-exercise-main-area;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    margin-inline: auto;
    max-height: var(--h5p-idea-board-exercise-main-max-height);
    max-width: var(--h5p-idea-board-exercise-main-max-width);
  }
}
